{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<!-- ==========banner-section========== -->
    {# <section class="banner-section bg_img" data-background="images/banner/banner-bg02.jpg"> #}
        <section class="banner-section bg_img" data-background="iiimages/aqua15.jpg">
        <div class="container">
            <div class="banner-content mx-auto text-center">
                <span class="cate wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s"></span>
                <h1 class="title wow fadeInDown" data-wow-duration="1.5s">LE CLUB</h1>
                {# <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco</p> #}
                {# <div class="button-group justify-content-center wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">
                    <a href="contact" class="custom-button">Contact Us</a>
                    <a href="admission" class="custom-button active">admission now</a>
                </div> #}
            </div>
        </div>
    </section>
    <!-- ==========banner-section========== -->

    <!-- ==========about-us-section========== -->
    <section class="wellcome-section padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="welcome-thumb">
                        <div class="thumb1">
                            <img src="images/aqua13.jpg" alt="about">
                        </div>
                        <div class="thumb2">
                            <img src="images/aqua3.jpg" alt="about">
                        </div>
                        <div class="thumb3">
                            <img src="images/aqua8.jpg" alt="about">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">Les Dauphins de Ngor – École de Formation des Maîtres-Nageurs Sauveteurs et Aquagym (EFMNSA)</h2>
                        <span class="d-inline-block mx-auto shape-header"></span>
                    <p>Les Dauphins de Ngor, à travers leur École de Formation des Maîtres-Nageurs Sauveteurs et Aquagym (EFMNSA), constituent une entreprise agréée par le Ministère de l’Intérieur sous le numéro 002986 / Nº RCCM SDKR-2013-A-5435 / NINEA 47730412YL.</p>

                <p>Créée après 37 années d’expérience au sein des sapeurs-pompiers, spécialisée dans le sauvetage nautique, les sports aquatiques et la formation au sein des corps de secours, l’EFMNSA œuvre pour la sécurité aquatique et le bien-être par le sport santé.</p>
                    </div>
                    <div class="wellcome-area">
                        <div class="wellcome-item">
                            <span class="left-side">
                                <i class="flaticon-swimming-silhouette"></i>
                            </span>
                            <div class="right-side">
                                <h4 class="title">Qui sommes nous</h4>
                                <p>Les dauphins est une école de formation crée en 2013 par Monsieur Ndiamé Sambe dans un souhait ultime de pérenniser sa carrière de formateur et d'éducateur au bénéfice des êtres et de l'environnement.</p>
                            </div>
                        </div>
                        <div class="wellcome-item">
                            <span class="left-side">
                                <i class="flaticon-goggles"></i>
                            </span>
                            <div class="right-side">
                                <h4 class="title">Notre programme</h4>
                                <p>L’aquagym, la fitness, 
                                    La prise en charge des malades par des spécialistes, la rééducation des personnes ayant des problèmes de mobilité
                                    La formation des maîtres nageurs 
                                    Surveillance dans les piscines , la mer ou les camps de vacances 
                                    La natation sur place ou à domicile.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========about-us-section========== -->

    <!-- ==========about-us-section========== -->
    <section class="about-us-section padding-bottom">
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">Nos missions et activités</h2>
                        <span class="d-inline-block mx-auto shape-header"></span>
                        <p></p>
                    </div>
                    <div class="about-us-area">
                        <div class="about-us-item">
                            <p>
                        👉 Former des maîtres-nageurs sauveteurs, des nageurs, des plongeurs et des secouristes</p>
                        <p>
                        👉 Organiser des programmes de natation scolaire, sportive et de vacances</p>
                        <p>
                        👉 Proposer des activités d’hydrothérapie et de kinésithérapie aquatique</p>
                        <p>
                        👉 Offrir des cours de natation, d’aquagym, de rééducation aquatique, à domicile, en mer ou en piscine</p>
                        <p>
                        👉 Assurer la surveillance des cérémonies et événements autour des piscines</p>
                        <p>
                        👉 Accompagner l’insertion des jeunes par la transmission des connaissances et compétences : formation de maîtres-nageurs, secouristes, moniteurs d’aquagym, plongeurs sous-marins</p>
                        <p>
                        👉 Conseiller sur la réglementation et la sécurité des piscines et plages pour prévenir les noyades</p>
                        </div>
                        <div class="about-us-item">
                            <h4 class="title">Notre objectif principal</h4>
                            <p>aider les personnes de tous âges à améliorer leur santé grâce aux bienfaits des activités aquatiques, en particulier l’aquagym en mer et la natation encadrée.
                            </p>
                        </div>

                        <div class="about-us-item">
                            <h4 class="title">Le fondateur et manager</h4>
                            <p>Le manager de l’EFMNSA est :
                           <br> •	Titulaire du Brevet de Spécialiste (BS) et du Brevet de Technicien (BT) des sapeurs-pompiers
                           <br> •	Technicien supérieur passionné de plongée sous-marine, natation, prévention et scoutisme
                            <br>•	Diplômé en intervention subaquatique (SIS) à Paris (France)
                           <br> •	Moniteur de plongée en France, MNS (Maître-Nageur Sauveteur) à la Brigade des Sapeurs-Pompiers de Paris
                            <br>•	Diplômé de sauvetage côtier à Marseille, moniteur côtier (France)
                           <br> •	Conseiller en réglementation et aménagement des plages
                           <br> •	Aviation Rescue Swimmer (USA)
                            <br>•	Spécialiste prévention contre les incendies et les noyades
                            </p>
                        </div>

                        <div class="about-us-item">
                            <h4 class="title">Notre engagement social et santé</h4>
                            <p>L’EFMNSA :
                               <br> ✅ Enseigne la natation aux enfants, aux personnes âgées et aux femmes enceintes
                               <br> ✅ Propose des programmes adaptés aux personnes souffrant de maladies chroniques ou en situation de handicap (diabète, surpoids, insuffisance cardiaque, problèmes respiratoires, maladies neurologiques, suites d’AVC…)
                                <br>✅ Encadre les non-voyants, malvoyants, personnes trisomiques et toute personne nécessitant un accompagnement spécifique
                                <br>✅ Fait de l’Aquagym Club Les Dauphins de Ngor un véritable « hôpital ambulatoire à ciel ouvert », reconnu par les médecins et établissements de santé
                            </p>
                        <p>Avec 53 coachs passionnés, notre seule motivation est d’aider les personnes à se soigner et à se renforcer par les activités aquatiques.</p>

                        <p>Un appel à la solidarité</p>

                        <p> Aujourd’hui, avec plus de 3000 adhérents venus de toute la région et même de la sous-région, nous comptons sur le soutien des bonnes volontés locales et de la diaspora pour accompagner cet élan de solidarité.</p>

                        <p>Merci – Djeredjef</p>
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-us-thumb">
                        <div class="thumb1 wow slideInUp">
                            <img src="images/aqua2.jpg" alt="about">
                        </div>
                        <div class="thumb2 wow bounceInRight" data-wow-delay=".5s">
                            <img src="images/aqua9.jpg" alt="about">
                        </div>
                        <div class="thumb3 wow zoomIn" data-wow-delay=".5s">
                            <img src="images/aqua10.jpg" alt="about">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========about-us-section========== -->
    <!-- ==========about-us-section========== -->
    <section class="wellcome-section padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="welcome-thumb">
                        <div class="thumb1">
                            <img src="images/aqua13.jpg" alt="about">
                        </div>
                        <div class="thumb2">
                            <img src="images/aqua3.jpg" alt="about">
                        </div>
                        <div class="thumb3">
                            <img src="images/aqua8.jpg" alt="about">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header left-style mb-low mw-100 mt-down">
                        <h2 class="title">Ndiame Sambé</h2>
                        <span class="d-inline-block mx-auto shape-header"></span>
                    <p>Je suis ancien sapeur-pompier, spécialisé dans le sauvetage aquatique, avec 3 7 années de service.</p>

                    <p>C’est au fil de ma carrière, 
                    face aux douleurs physiques, aux souffrances humaines, 
                    et à la solitude de nombreuses personnes âgées, que j’ai commencé à réfléchir à une solution simple, naturelle et accessible à tous. 
                    Et la baie de Ngor ne pouvait pas échapper à ce choix </p>

                    <p>C’est ainsi qu’est née une idée, qui allait devenir l’un des plus grands projets de sport santé du continent :
                    👉 L’Aquagym Les Dauphins de Ngor.</p>

                    <p>La plage fait  partie des plus belles  est devenue  un hôpital à ciel ouvert</p> 

                    <p>Après ma retraite, j’ai voulu mettre mon expérience au service de la société. C’est ainsi que j’ai créé une école de formation de maîtres-nageurs sauveteurs, avec l’autorisation et l’agrément du ministère de l’Intérieur. Aujourd’hui, cette école est la référence nationale au Sénégal.</p>

                    <p>De cette dynamique est né l’association club Aquagym Les Dauphins de Ngor, reconnue sous le récépissé   000353 . Le club qui compte aujourd’hui plus de 3 300 membres pour l’année 2023 ./2024– c’est le plus grand club d’aquagym d’Afrique.
                    Son rayonnement a dépassé nos frontières, porté par les médias du monde entier.</p>

                    <p>Alors, pourquoi ce succès ?
                    Parce que l’aquagym, en particulier en mer, est bien plus qu’un sport.
                    C’est un outil puissant pour la santé publique, un levier de prévention, et surtout, un vecteur de lien social.</p>

                    <p>Aujourd’hui, je vais vous expliquer :
                       <br> 1.	Pourquoi j’ai choisi la mer
                       <br> 2.	Comment j’ai gagné la confiance des populations et des médecins
                        <br>3.	Ce que nous proposons concrètement comme activités
                       <br> 4.	En quoi l’aquagym est plus bénéfique que les sports terrestres
                        <br> 5.	Les impacts visibles sur la santé et la société
                       <br> 6.	Et enfin, l’importance de la solidarité dans notre club</p>
                    </div>
                    <div class="wellcome-area">
                        <div class="wellcome-item">
                            <span class="left-side">
                                <i class="flaticon-swimming-silhouette"></i>
                            </span>
                            <div class="right-side">
                                <h4 class="title">Qui sommes nous</h4>
                                <p>Les dauphins est une école de formation crée en 2013 par Monsieur Ndiamé Sambe dans un souhait ultime de pérenniser sa carrière de formateur et d'éducateur au bénéfice des êtres et de l'environnement.</p>
                            </div>
                        </div>
                        <div class="wellcome-item">
                            <span class="left-side">
                                <i class="flaticon-goggles"></i>
                            </span>
                            <div class="right-side">
                                <h4 class="title">Notre programme</h4>
                                <p>L’aquagym, la fitness, 
                                    La prise en charge des malades par des spécialistes, la rééducation des personnes ayant des problèmes de mobilité
                                    La formation des maîtres nageurs 
                                    Surveillance dans les piscines , la mer ou les camps de vacances 
                                    La natation sur place ou à domicile.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========about-us-section========== -->





    <!-- ==========blog-section========== -->
    {# <section class="blog-section padding-top padding-bottom bg-ash">
        <div class="container">
            <div class="section-header">
                <h2 class="title">Article de blog récent</h2>
                <span class="d-inline-block mx-auto shape-header"></span>
                <p>Amet consectetur adipiscing elit, sed do eiutempor incididunt ut labore et dolore magna aliquaad minvenia quis nost</p>
            </div>
            <div class="mb-none-50-lg-60">
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-grid">
                            <img src="images/blog/blog01.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="blog-grid">Non repellat lectus luctus rhoncus lectb eatae lorem enim vestibulum ridiculus neque. </a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">20 Nov, 2019</a><a href="#0">03 Comments</a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Pharetra aenean facilisis arcu aliquam, id diam mauris vivamus id vitae et. Eros mauris quis
                            leo. Vitae leo phasellus donec, integer rutrum aliquam elit, non etiam turpis nullam lectus
                            urna urna, ullamcorper sit, accuman maecenneque vel aliquam aliquam tincidunt. Congue et
                            etiam nastur, nulla odio, morbi eros lectus, vestibulum ut libero</p>
                            <div class="meta-author">
                                <div class="c-thumb">
                                    <a href="#0">
                                        <img src="images/blog/blog01.png" alt="blog">
                                    </a>
                                </div>
                                <div class="c-content">
                                    <a href="#0">Raihan Rafuj</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-grid">
                            <img src="images/blog/blog02.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="blog-grid">Ollamcorper luctus ullamcorper semper nec erat nulla amet ringillavsed </a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">20 Nov, 2019</a><a href="#0">03 Comments</a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Pharetra aenean facilisis arcu aliquam, id diam mauris vivamus id vitae et. Eros mauris quis
                            leo. Vitae leo phasellus donec, integer rutrum aliquam elit, non etiam turpis nullam lectus
                            urna urna, ullamcorper sit, accuman maecenneque vel aliquam aliquam tincidunt. Congue et
                            etiam nastur, nulla odio, morbi eros lectus, vestibulum ut libero</p>
                            <div class="meta-author">
                                <div class="c-thumb">
                                    <a href="#0">
                                        <img src="images/blog/blog02.png" alt="blog">
                                    </a>
                                </div>
                                <div class="c-content">
                                    <a href="#0">ridoy rajoan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumb">
                        <a href="blog-grid">
                            <img src="images/blog/blog03.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="post-header">
                            <h4 class="title">
                                <a href="blog-grid">Pharetra aenean facilisis arcu aliquam diam mauris vivamus vitae </a>
                            </h4>
                            <div class="meta-post">
                                <a href="#0">20 Nov, 2019</a><a href="#0">03 Comments</a>
                            </div>
                        </div>
                        <div class="entry-content">
                            <p>Pharetra aenean facilisis arcu aliquam, id diam mauris vivamus id vitae et. Eros mauris quis
                            leo. Vitae leo phasellus donec, integer rutrum aliquam elit, non etiam turpis nullam lectus
                            urna urna, ullamcorper sit, accuman maecenneque vel aliquam aliquam tincidunt. Congue et
                            etiam nastur, nulla odio, morbi eros lectus, vestibulum ut libero</p>
                            <div class="meta-author">
                                <div class="c-thumb">
                                    <a href="#0">
                                        <img src="images/blog/blog01.png" alt="blog">
                                    </a>
                                </div>
                                <div class="c-content">
                                    <a href="#0">Raihan Rafuj</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> #}
    <!-- ==========blog-section========== -->

    <!-- ==========blog-section========== -->
    <section class="call-in-action padding-bottom padding-top">
        <div class="container">
            <div class="call-in-area">
                <h2 class="title">Vous avez des questions ?</h2>
                <p></p>
                <a href="" class="custom-button active">contactez-nous</a>
            </div>
        </div>
    </section>
    <!-- ==========blog-section========== -->
{% endblock %}
